[submodule "dotbot"]
	path = .dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fish/nix-env.fish"]
	path = fish/nix-env.fish
	url = https://github.com/lilyball/nix-env.fish.git
[submodule "dotbot-template"]
	path = .dotbot/plugins/dotbot-template
	url = git@github.com:DanTheMinotaur/dotbot-template.git
[submodule ".dotbot/plugins/dotbot-nix-env"]
	path = .dotbot/plugins/dotbot-nix-env
	url = git@github.com:DanTheMinotaur/dotbot-nix-env.git
[submodule "fish/nvm.fish"]
	path = fish/nvm.fish
	url = https://github.com/jorgebucaran/nvm.fish.git
[submodule "fish/fisher"]
	path = fish/fisher
	url = https://github.com/jorgebucaran/fisher.git
[submodule "fish/bass"]
	path = fish/bass
	url = https://github.com/edc/bass
