[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fish/nix-env.fish"]
	path = fish/nix-env.fish
	url = https://github.com/lilyball/nix-env.fish.git
